@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="main-content">
    <div class="breadcrumbs" id="breadcrumbs">
        <script type="text/javascript">
            try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
        </script>

        <ul class="breadcrumb">
            <li>
                <i class="icon-home home-icon"></i>
                位置
            </li>
            <li class="active">首页</li>
        </ul>
        <!-- .breadcrumb -->

        <div class="nav-search" id="nav-search">
            <form class="form-search">
                <span class="input-icon">
                    <input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
                    <i class="icon-search nav-search-icon"></i>
                </span>
            </form>
        </div>
        <!-- #nav-search -->
    </div>

    <div class="page-content">
        <!-- /.page-header -->

        <div class="row">
            <div class="col-xs-12">
                <!-- PAGE CONTENT BEGINS -->

                <div class="alert alert-block alert-success">
                    <button type="button" class="close" data-dismiss="alert">
                        <i class="icon-remove"></i>
                    </button>

                    <i class="icon-ok green"></i>
                    欢迎使用
									<strong class="green">智元汇哈尔滨LCD查询系统
										<small>(v1.0)</small>
                                    </strong>
                </div>

@*                <div class="row">
                    <div class="space-6"></div>

                    <div class="col-sm-7 infobox-container">
                        <div class="infobox infobox-green  ">
                            <div class="infobox-icon">
                                <i class="icon-comments"></i>
                            </div>

                            <div class="infobox-data">
                                <span class="infobox-data-number">32待处理</span>
                                <div class="infobox-content">10个上刊需求</div>
                            </div>
                            <div class="stat stat-success">8%</div>
                        </div>

                        <div class="infobox infobox-blue  ">
                            <div class="infobox-icon">
                                <i class="icon-twitter"></i>
                            </div>

                            <div class="infobox-data">
                                <span class="infobox-data-number">5</span>
                                <div class="infobox-content">新需求</div>
                            </div>

                            <div class="badge badge-success">
                                +32%
												<i class="icon-arrow-up"></i>
                            </div>
                        </div>

                        <div class="infobox infobox-pink  ">
                            <div class="infobox-icon">
                                <i class="icon-shopping-cart"></i>
                            </div>

                            <div class="infobox-data">
                                <span class="infobox-data-number">2</span>
                                <div class="infobox-content">新确认单</div>
                            </div>
                            <div class="stat stat-important">4%</div>
                        </div>

                        <div class="infobox infobox-red  ">
                            <div class="infobox-icon">
                                <i class="icon-beaker"></i>
                            </div>

                            <div class="infobox-data">
                                <span class="infobox-data-number">7</span>
                                <div class="infobox-content">反馈</div>
                            </div>
                        </div>

                        <div class="infobox infobox-orange2  ">
                            <div class="infobox-chart">
                                <span class="sparkline" data-values="196,128,202,177,154,94,100,170,224"></span>
                            </div>

                            <div class="infobox-data">
                                <span class="infobox-data-number">6,251</span>
                                <div class="infobox-content">系统使用次数</div>
                            </div>

                            <div class="badge badge-success">
                                7.2%
												<i class="icon-arrow-up"></i>
                            </div>
                        </div>
                        <div class="space-6"></div>
                    </div>

                    <div class="vspace-sm"></div>

                    <!-- /span -->
                </div>*@
                <!-- /row -->

                <div class="hr hr32 hr-dotted"></div>


                <div class="hr hr32 hr-dotted"></div>

                <!-- /row -->

                <!-- PAGE CONTENT ENDS -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.page-content -->
</div>